<a href="https://colab.research.google.com/github/fmuranda/Python-for-Data-Science-and-Machine-Learning-Essential-Training-Part-1/blob/main/Filtering_and_selecting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [5]:
numbers_df = DataFrame(np.arange(0,90,3).reshape(10,3),
                      index = ['row 1','row 2', 'row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8', 'row 9', 'row 10'],
                      columns = ['column 1', 'column 2','column 3'])

numbers_df

        column 1  column 2  column 3
row 1          0         3         6
row 2          9        12        15
row 3         18        21        24
row 4         27        30        33
row 5         36        39        42
row 6         45        48        51
row 7         54        57        60
row 8         63        66        69
row 9         72        75        78
row 10        81        84        87

In [6]:
numbers_df.iloc[0,1]

np.int64(3)

In [7]:
#@title Replace
numbers_df.iloc[0,1] = 20
numbers_df

        column 1  column 2  column 3
row 1          0        20         6
row 2          9        12        15
row 3         18        21        24
row 4         27        30        33
row 5         36        39        42
row 6         45        48        51
row 7         54        57        60
row 8         63        66        69
row 9         72        75        78
row 10        81        84        87

In [12]:
#@title Index
numbers_df.iloc[[1,2,4],[1,2]]

       column 2  column 3
row 2        12        15
row 3        21        24
row 5         0         0

In [13]:
#@title Boolean Mask
mask = numbers_df > 30
mask

        column 1  column 2  column 3
row 1      False     False     False
row 2      False     False     False
row 3      False     False     False
row 4      False     False     False
row 5      False     False     False
row 6      False     False     False
row 7      False     False     False
row 8      False     False     False
row 9      False     False     False
row 10     False     False     False

In [10]:
#@title Boolean Mask
numbers_df[mask]

        column 1  column 2  column 3
row 1        NaN       NaN       NaN
row 2        NaN       NaN       NaN
row 3        NaN       NaN       NaN
row 4        NaN       NaN      33.0
row 5       36.0      39.0      42.0
row 6       45.0      48.0      51.0
row 7       54.0      57.0      60.0
row 8       63.0      66.0      69.0
row 9       72.0      75.0      78.0
row 10      81.0      84.0      87.0

In [14]:
#@title Boolean Mask
numbers_df[numbers_df>30] = 0
numbers_df

        column 1  column 2  column 3
row 1          0        20         6
row 2          9        12        15
row 3         18        21        24
row 4         27        30         0
row 5          0         0         0
row 6          0         0         0
row 7          0         0         0
row 8          0         0         0
row 9          0         0         0
row 10         0         0         0

In [15]:
#@title Slicing
numbers_df.iloc[2:6, 1:3]

       column 2  column 3
row 3        21        24
row 4        30         0
row 5         0         0
row 6         0         0